.DarkSkyWeather {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 22vw;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 0.75ex rgba(0, 0, 0, 0.75);
  text-align: right;
  padding: 0 2vw 0 0;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.9));
  overflow: hidden;
}
.DarkSkyWeather table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
.DarkSkyWeather table td {
  margin: 0;
  padding: 0;
}
.DarkSkyWeather .currentConditions td {
  height: 1.25em;
}
.DarkSkyWeather .currentTemperature {
  font-weight: bolder;
  font-size: 7em;
  text-align: right;
  padding-right: 0.5ex;
}
.DarkSkyWeather .currentTemperature .wi {
  font-size: 0.8em;
}
.DarkSkyWeather .precipAndWind,
.DarkSkyWeather .sunsetAndSunrise {
  height: 1.25em;
}
.DarkSkyWeather .precipAndWind {
  width: 60%;
}
.DarkSkyWeather .sunsetAndSunrise {
  /* vertical-align: top; */
  width: 40%;
}
.DarkSkyWeather .currentPrecip {
  padding-right: 0.5ex;
  font-size: 2.5em;
}
.DarkSkyWeather .currentPrecip .probability {
  padding-right: 0.5ex;
}
.DarkSkyWeather .currentPrecip .wi {
  font-size: 0.75em;
}
.DarkSkyWeather .currentWind {
  font-size: 2.5em;
}
.DarkSkyWeather .currentWind::after {
  display: block;
  content: "";
}
.DarkSkyWeather .currentWind .speed {
  padding-right: 0.5ex;
}
.DarkSkyWeather .currentWind .direction {
  padding-right: 0.5ex;
}
.DarkSkyWeather .currentWind .wi {
  font-size: 0.75em;
  vertical-align: 15%;
}
.DarkSkyWeather .sunrise {
  font-size: 2.5em;
}
.DarkSkyWeather .sunrise .wi {
  font-size: 0.75em;
}
.DarkSkyWeather .sunset {
  font-size: 2.5em;
}
.DarkSkyWeather .sunset .wi {
  font-size: 0.75em;
}
.DarkSkyWeather .hourlySummary {
  font-size: 2em;
  text-align: right;
  vertical-align: top;
  padding-top: 1ex;
}
.DarkSkyWeather .forecasts {
  font-size: 2.5em;
  height: 60vh;
}
.DarkSkyWeather .forecasts .forecast td {
  margin: 0.5ex 0;
}
.DarkSkyWeather .forecasts .summary {
  font-size: 0.5em;
}
.DarkSkyWeather .forecasts .forecast .day {
  font-size: 0.75em;
  color: #999;
  padding-right: 0.5ex;
  width: 30%;
}
.DarkSkyWeather .forecasts .forecast .high {
  width: 17%;
  padding-right: 0.5ex;
}
.DarkSkyWeather .forecasts .forecast .low {
  width: 17%;
}
.DarkSkyWeather .forecasts .forecast .icon {
  text-align: center;
  width: 22%;
}
.DarkSkyWeather .forecasts .forecast .precip {
  color: #999;
  font-size: 0.75em;
  width: 14%;
}
