.DarkSkyWeather {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 22vw;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 0.75ex rgba(0,0,0,.75);
  text-align: right;
  padding: 1vh 2vw 0 2vw;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.90));
  overflow: hidden;
}

.DarkSkyWeather .currentTemperature {
  font-weight: bolder;
  font-size: 6em;
}
.DarkSkyWeather .currentTemperature .unit {
  font-size: 0.5em;
}
.DarkSkyWeather .currentTemperature .wi {
  vertical-align: -10%;
}
.DarkSkyWeather .hourlySummary {
  margin: 1ex 0;
  font-size: 1.5em;
}
.DarkSkyWeather .currentPrecip {
  display: inline;
  padding-right: 0.5ex;
  font-size: 2.5em;
}
.DarkSkyWeather .currentPrecip .probability {
  padding-right: 0.5ex;
}
.DarkSkyWeather .currentPrecip .wi {
  font-size: 0.75em;
}
.DarkSkyWeather .currentWind {
  display: inline;
  font-size: 2.5em;
}
.DarkSkyWeather .currentWind::after {
  display: block;
  content: '';
}
.DarkSkyWeather .currentWind .speed {
  padding-right: 0.5ex;
}
.DarkSkyWeather .currentWind .direction {
  padding-right: 0.5ex;
}
.DarkSkyWeather .currentWind .wi {
  font-size: 0.75em;
  vertical-align: 15%;
}
.DarkSkyWeather .sunrise {
  display: inline;
  padding-right: 1ex;
  font-size: 2.5em;
}
.DarkSkyWeather .sunrise .wi {
  font-size: 0.75em;
}
.DarkSkyWeather .sunset {
  display: inline;
  font-size: 2.5em;
}
.DarkSkyWeather .sunset .wi {
  font-size: 0.75em;
}
.DarkSkyWeather .forecasts {
  margin: 1em 0 0 0;
  font-size: 2.5em;
}
.DarkSkyWeather .forecasts .forecast {
  margin: 1ex 0 0 0;
}
.DarkSkyWeather .forecasts .summary {
  font-size: 0.5em;
}
.DarkSkyWeather .forecasts .forecast .day {
  padding-right: 1ex;
  font-size: 0.75em;
  color: #999;
}
.DarkSkyWeather .forecasts .forecast .high {
  padding-right: 0.5ex;
}
.DarkSkyWeather .forecasts .forecast .low {
  padding-right: 0.5ex;
}
.DarkSkyWeather .forecasts .forecast .precip {
  color: #999;
  font-size: 0.75em;
  padding-left: 0.5ex;
  vertical-align: 15%;
}
