.PhotoLoader {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 10em;
  height: 10em;
  margin-right: -5em;
  margin-top: -5em;
}
.PhotoLoader path {
  fill: #444;
}

.Photo, .PhotoBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
}

.Photo {
  background-size: contain;
  filter: drop-shadow(0 0 5em black);
  z-index: 1;
}

.PhotoBackground {
  background-color: black;
  background-size: cover;
  filter: saturate(30%) brightness(30%) blur(10px);
}

.NextPhoto {
  visibility: hidden;
}
